{% extends 'base.html' %}

{% block title%}
Registrazione | {{ block.super }}
{% endblock %}

{% block body_css %}page{% endblock %}

{% block content %}
<div class="container margin-top faded main-content">
    <section class="box">
        <h1>Registratione</h1>
        <p class="alert alert-danger">Si è verificato un errore durante il processo di registrazione.</p>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
</div>
{% endblock %}
