{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title%}
Recupero password | {{ block.super }}
{% endblock %}

{% block body_css %}page{% endblock %}

{% block content %}
<div class="container margin-top faded main-content">
    <section class="box">
        <h1>Recupero password</h1>
        <p>
            Ti abbiamo inviato per e-mail le istruzioni per settare una nuova password, dovresti riceverla a breve.<br />
            Se non ricevi l'e-mail, assicurati di aver inserito l'indirizzo e-mail con il quale ti sei registrato, e controlla la cartella spam.
        </p>
    </section>
</div>
{% endblock %}
