{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title%}
Recupero password | {{ block.super }}
{% endblock %}

{% block body_css %}page{% endblock %}

{% block content %}
<div class="container margin-top faded main-content">
    <section class="box">
            <h1>Recupero password</h1>
            {% if validlink %}
                <p>Perfavore inserisci la tua nuova password due volte.</p>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuova password:</label></td>
                        {{ form.new_password1|attr:"class:form-control"|attr:"required" }}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Conferma password:</label></td>
                        {{ form.new_password2|attr:"class:form-control"|attr:"required" }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="conferma" />
                    </div>
                </form>
            {% else %}
                <p>Il link di cambio password non è valido, forse perché lo hai già utilizzato. Perfavore riprova la procedura di cambio password.</p>
            {% endif %}
    </section>
</div>
{% endblock %}
