<section class="webcam-widget" ng-controller="webcam.showcaseController" ng-cloak>
    <h1>Webcam</h1>
    <div class="row">
        {% for webcam in webcams %}
            <div class="col-md-4 col-sm-12">

                <div class="card card-webcam">
                    <div class="card-block">
                        <h4 class="card-title">{{ webcam.name }}</h4>
                        <h6 class="card-subtitle text-muted">{{ webcam.technology }}</h6>
                    </div>
                    <img class="card-img-top img-responsive" src="{{ webcam.url }}" alt="{{ webcam.name }}">
                    <div class="card-block">
                        <a href="{% url 'webcam-detail' webcam.slug %}" class="card-link">Scopri di più</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
