{% load static %}
{% load pipeline %}
{% load treenav_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}TorinoMeteo{% endblock %}</title>
        {% block meta %}
            <meta name="title" content="TorinoMeteo" />
            <meta name="description" content="Associazione culturale per lo studio dei fenomeni meteorologici" />
            <meta name="keywords" content="" />

            <meta property="og:title" content="TorinoMeteo" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://ws.torinometeo.org" />
            <meta property="og:description" content="Associazione culturale per lo studio dei fenomeni meteorologici" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:url" content="https://ws.torinometeo.org" />
            <meta name="twitter:title" content="TorinoMeteo" />
            <meta name="twitter:description" content="Associazione culturale per lo studio dei fenomeni meteorologici" />
            <meta name="twitter:creator" content="@abidibo" />
        {% endblock %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
        {% stylesheet 'vendor' %}
        {% stylesheet 'torinometeo' %}
        {% block extra_css %}{% endblock %}
        <script src="{% static 'core/src/vendor/jquery/jquery.js' %}"></script>
        {% javascript 'vendor' %}
        {% javascript 'torinometeo' %}
        {% block extra_js %}{% endblock %}
    </head>
    <body class="{% block body_css %}{% endblock %}">
        {% block header %}
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggler pull-right hidden-lg-up" type="button" onclick="$(body).toggleClass('show-menu')">
                            <i class="fa fa-bars fa-2x"></i>
                        </button>
                        <a class="navbar-brand" href="/">TorinoMeteo</a>
                    </div>
                    <div class="collapsing-navbar">
                        <div class="menu-container menu-container-sx">
                            {% show_treenav 'menu-principale-sx' full_tree="True" %}
                        </div>
                        <div class="menu-container menu-container-dx">
                            {% show_treenav 'menu-principale-dx' full_tree="True" %}
                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        {% endblock %}
        {% block jumbotron %}{% endblock %}
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <section>
                            <h1>TorinoMeteo</h1>
                            <ul>
                                <li><a href="/chi-siamo/">Chi siamo</a></li>
                                <li><a href="/contatti/">Contatti</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Open Source&Data</h1>
                            <ul>
                                <li><a href="/api-tmforecast/">API Previsioni</a></li>
                                <li><a href="/js-tmforecast/">JS Previsioni</a></li>
                                <li><a href="/open-source/coming-soon/">Coming Soon</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Realtime</h1>
                            <ul>
                                <li><a href="/progetti/rete-stazioni/">Progetto</a></li>
                                <li><a href="/realtime/mappa/">Mappa</a></li>
                                <li><a href="{% url 'realtime-net' %}">Rete</a></li>
                                <li><a href="/realtime/entra/">Entra nella rete</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Risorse</h1>
                            <ul>
                                <li><a href="/blog/archivio/">Blog</a></li>
                                <li><a href="/previsioni/">Previsioni</a></li>
                            </ul>
                            <p>
                                <a href="https://www.facebook.com/torino.meteo.7"><i class="fa fa-2x fa-facebook-square"></i></a>
                                <a href="https://www.twitter.com/torinometeoweb"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </p>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
