{% load static %}
{% load pipeline %}
{% load treenav_tags %}
{% load social_auth_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}TorinoMeteo{% endblock %}</title>
        {% block meta %}
            <meta name="title" content="{% block meta_title %}TorinoMeteo{% endblock %}" />
            <meta name="description" content="{% block meta_description %}Associazione culturale per lo studio dei fenomeni meteorologici{% endblock %}" />
            <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

            <meta property="og:title" content="{% block meta_og_title %}TorinoMeteo{% endblock %}" />
            <meta property="og:type" content="{% block meta_og_type %}website{% endblock %}" />
            <meta property="og:url" content="{% block meta_og_url %}https://www.torinometeo.org{% endblock %}" />
            <meta property="og:description" content="{% block meta_og_description %}Associazione culturale per lo studio dei fenomeni meteorologici{% endblock %}" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:url" content="{% block meta_tw_url %}https://www.torinometeo.org{% endblock %}" />
            <meta name="twitter:title" content="{% block meta_tw_title %}TorinoMeteo{% endblock %}" />
            <meta name="twitter:description" content="{% block meta_tw_description %}Associazione culturale per lo studio dei fenomeni meteorologici{% endblock %}" />
            <meta name="twitter:creator" content="@torinometeoweb" />
        {% endblock %}
        {% block meta_extra %}{% endblock %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script:700" rel="stylesheet"> 
        {% stylesheet 'vendor' %}
        {% stylesheet 'torinometeo' %}
        {% block extra_css %}{% endblock %}
        <script src="{% static 'core/src/vendor/jquery/jquery.js' %}"></script>
        {% javascript 'vendor' %}
        {% javascript 'torinometeo' %}
        <script>
            jQuery(function () {
                jQuery('[data-toggle="tooltip"]').tooltip();
            });
            jQuery(document).ready(function () {
                $('.lightbox-image').magnificPopup({ type: 'image' });
            });
        </script>
        {% block extra_js %}{% endblock %}
        {% if not DEBUG %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-17291775-1', 'auto');
          ga('send', 'pageview');
          ga('set', 'anonymizeIp', true);
        </script>
        {% endif %}
    </head>
    <body class="{% block body_css %}{% endblock %}">
        {% block header %}
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggler pull-right hidden-xl-up" type="button" onclick="$(body).toggleClass('show-menu')">
                            <i class="fa fa-bars fa-2x"></i>
                        </button>
                        <a class="navbar-brand" href="/">TorinoMeteo</a>
                    </div>
                    <div class="collapsing-navbar">
                        <div class="menu-container menu-container-sx">
                            {% show_treenav 'menu-principale-sx' full_tree="True" %}
                        </div>
                        <div class="menu-container menu-container-dx">
                            {% show_treenav 'menu-principale-dx' full_tree="True" %}
                            {% social_auth_signin_btn %}
                        </div>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        {% endblock %}
        {% block jumbotron %}{% endblock %}
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <section>
                            <h1>TorinoMeteo</h1>
                            <ul>
                                <li><a href="/chi-siamo/">Chi siamo</a></li>
                                <li><a href="/contatti/">Contatti</a></li>
                                <li><a href="/associati/">Associati</a></li>
                                <li><a href="/perche-registrarsi/">Perché registrarsi</a></li>
                                <li><a href="/cookie-policy/">Cookie Policy</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Open Source&Data</h1>
                            <ul>
                                <li><a href="/api-tmforecast/">API Previsioni</a></li>
                                <li><a href="/js-tmforecast/">JS Previsioni</a></li>
                                <li><a href="/api-realtime/">API Realtime</a></li>
                                <li><a href="/js-tmrealtime/">JS Realtime</a></li>
                                <li><a href="/android/app/">Android App</a></li>
                                <li><a href="/open-source/coming-soon/">Coming Soon</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Realtime</h1>
                            <ul>
                                <li><a href="/progetti/rete-stazioni/">Progetto</a></li>
                                <li><a href="/realtime/mappa/">Mappa</a></li>
                                <li><a href="{% url 'realtime-net' %}">Rete</a></li>
                                <li><a href="/realtime/entra/">Entra nella rete</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <nav>
                            <h1>Risorse</h1>
                            <ul>
                                <li><a href="/blog/archivio/">Blog</a></li>
                                <li><a href="/previsioni/">Previsioni</a></li>
                                <li><a href="/js-tmrealtime/">Widget</a></li>
                            </ul>
                            <p>
                                <a href="https://www.facebook.com/torino.meteo.7"><i class="fa fa-2x fa-facebook-square"></i></a>
                                <a href="https://www.twitter.com/torinometeoweb"><i class="fa fa-2x fa-twitter-square"></i></a>
                                <a href="https://www.abidibo.net"><img src="https://www.abidibo.net/static/core/src/img/abidibo.png" style="height: 35px; margin-top: -12px" /></a>
                            </p>
                        </nav>
                    </div>
                </div>
                <p class="text-center" style="margin-bottom: 0">Le icone metereologiche sono prese dalle previsioni meteorologiche di <a href="https://www.yr.no">Yr</a> fornite da Meteorological Institute e NRK.</p>
            </div>
        </footer>
        <div id="dynamicModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button type="button" class="btn btn-primary btn-action">Salva</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {% if not DEBUG %}
            <script type="text/javascript" charset="UTF-8" src="//cookie-script.com/s/e5bd0b720e0b68a04271fbddb5197032.js"></script>
        {% endif %}
    </body>

</html>
