{% extends 'base.html' %}
{% load realtime_tags %}
{% load blog_tags %}
{% load webcam_tags %}

{% block extra_js %}
    <script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
    <script src="https://rawgit.com/TorinoMeteo/tm-forecast/master/js/tmforecast.js"></script>
{% endblock %}

{% block jumbotron %}
    {% realtime_jumbotron %}
{% endblock %}

{% block content %}
    {% realtime_line %}

    <div class="img-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8 home-col-12">
                    {% blog_featured %}
                </div>
                <div class=" col-sm-12 col-md-6 col-lg-4 home-col-3">
                    <section style="background: #FDFBE3;" class="forecast-wrapper">
                        <div class="content">
                            <tmdayforecast tm-date="{% now "Y-m-d" %}" tm-oncomplete="">
                                <h1>Previsioni del tempo</h1>
                            </tmdayforecast>
                            <p><a href="{% url 'forecast-view' %}">BOLLETTINO COMPLETO <i class="fa fa-arrow-right"></i></a></p>
                        </div>
                    </section>
                </div>
            </div>
            <!-- <script>window.tm.tmp = function() { tm.sameHeightColumns('.blog-featured-article', '.forecast-wrapper'); }</script> -->
        </div>
    </div>
    <div class="section-webcams">
        <div class="container">
            <p class="text-center" style="margin-bottom: 0">
                <i class="fa fa-camera fa-3x"></i>
                <span><a href="/webcam/">Scopri</a> tutte le nostre webcam!</span>
            </p>
        </div>
    </div>
    <div class="section-webcams-widgets">
        <div class="container">
            {% webcam_widget %}
        </div>
    </div>
{% endblock %}

