*.swp
*.pyc
torinometeo/.ropeproject
torinometeo/.env
.virtualenv
torinometeo/media
torinometeo/static
provisioning/ansible_remote_variables
provisioning/ansible_remote_inventory
provisioning/playbooks/roles/webapp/templates/env
releases
logs
backups
supervisord.conf.production
