{% extends 'base.html' %}
{% load thumbnail %}
{% load blog_tags %}
{% load disqus_tags %}

{% block jumbotron %}{% endblock %}

{% block body_css %}page{% endblock %}
{% block content %}
<div class="container margin-top faded main-content">
     <div class="row">
        <div class="col-md-8">
            <section class="blog-list">
                <h1>Articoli pubblicati nella categoria "{{ tag }}"</h1>
                {% if object_list %}
                    {% for entry in object_list %}
                        <article class="entry entry_list">
                            <header>
                                <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
                                <aside class="blog-aside serif">
                                    <i class="fa fa-clock-o"></i>
                                    <time style="margin-right: 20px;" class="left" content="{{ entry.creation_date|date:"Y-m-d" }}" datetime="{{ entry.get_time_attribute }}" pubdate="pubdate">
                                        {{ entry.creation_date }}
                                    </time>
                                    {% if entry.tags.count %}
                                        <span class="fa fa-tags"></span> 
                                        {% for tag in entry.tags.all %}
                                            <a class="serif" href="{% url 'blog-category-list' tag.name|iriencode %}">{{ tag.name }}</a> 	
                                        {% endfor %}
                                    {% endif %}
                                    <span style="display: inline-block; margin-left: 16px;" class="fa fa-comment"></span> 
                                    <a href="{{ entry.get_http_absolute_url }}#disqus_thread" data-disqus-identifier="blogentry_{{ entry.id }}">view comments</a>
                                </aside>
                            </header>
                            <div class="blog-entry-img"><img class="img-responsive" style="margin: auto" alt="immagine" src="{{ entry.image.url }}" /></div>
                            {{ entry.text|truncatewords_html:50|safe }}
                            <p class="serif" style="margin-top: 20px;"><a href="{{ entry.get_absolute_url }}" class="read-all">leggi tutto <i class="fa fa-arrow-right"></i></a></p>
                        </article>
                    {% endfor %}
                    {% disqus_num_replies %}
                    <div class="pagination">
                        <div class="right">
                            {% if page_obj.has_previous %}
                            <a href="{% url 'blog-category-list' tag %}?page={{ page_obj.previous_page_number }}">
                                <div class="fa fa-arrow-left" style="top:2px;"></div>
                            </a>
                            {% endif %}
                            &#160; <span class="left">Page <b>{{ page_obj.number }}</b> of {{ page_obj.paginator.num_pages }} &#160;</span>
                            {% if page_obj.has_next %}
                            <a href="{% url 'blog-category-list' tag %}?page={{ page_obj.next_page_number }}">
                                <div class="fa fa-arrow-right" style="top:2px;"></div>
                            </a>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% else %}
                        <p>Non risultano articoli pubblicati in questa categoria.</p>
                {% endif %}
            </section>
        </div>
        <div class="col-md-4">
                {% blog_archive %}
        </div>
    </div>
</div>
{% endblock %}
