<div id="rt-jumbotron" class="jumbotron">
    <script type="text/javascript">
        (function() {
            var stations = [];
            var stations_name = [];
            var stations_weather = [];
            var stations_url = [];
            //var stations = [1, 2, 4];
            //var stations_name = ['Torino Regio Parco', 'Torino Lingotto', 'Bielmonte'];
            {% for station in stations %}
                stations.push({{ station.id }});
                stations_name.push('{{ station.name|escapejs }}');
                stations_weather.push({% if station.weather_icon %}{{ station.weather_icon|safe }}{% else %}null{% endif %});
                stations_url.push('{{ station.get_absolute_url }}');
            {% endfor %}
            var jumbotron = new torinometeo.realtime.Jumbotron('rt-jumbotron', stations, stations_name, stations_url, stations_weather);
            jumbotron.load();
        })()
    </script>
</div>
