{% extends 'base_site.html' %}
{% load thumbnail %}

{% block jumbotron %}{% endblock %}

{% block body_css %}page{% endblock %}
{% block content %}
<div class="container margin-top faded">
    <section class="realtime-net-request">
        <h1>Entra nella rete di TorinoMeteo</h1>
        <p>Grazie per aver effettuato la richiesta!</p>
        <p>Una mail è stata inviata ai nostri esperti, ti contatteremo il prima possibile per procedere con la messa in rete della tua stazione meteo!</p>
        <p><strong>Lo Staff di TorinoMeteo</strong></p>
    </section>
</div>
{% endblock %}
