{% extends 'base.html' %}
{% load core_tags %}

{% block jumbotron %}{% endblock %}

{% block body_css %}page{% endblock %}
{% block content %}
<div class="container margin-top faded main-content">
    <section class="realtime-station">
        <h1>{{ object.name }}</h1>
        <nav>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    Principale
                </button>
                <a class="btn btn-secondary" href="{% url 'realtime-station-realtime' object.slug %}">Live</a>
                <a class="btn btn-secondary" href="{% url 'realtime-station-historic' object.slug %}">Storico</a>
                <a class="btn btn-secondary" href="{% url 'realtime-station-graph' object.slug %}">Grafici</a>
            </div>
        </nav>
         <div class="row">
            <div class="col-sm-8 col-xs-12">
                {% if object.web %}
                    <p><i class="fa fa-link"></i> <a href="{{ object.web }}">{{ object.web }}</a></p>
                {% endif %}
                {{ object.description | safe }}
                <table class="table table-station-data">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <h2><i class="fa fa-globe"></i> Ubicazione geografica</h2>
                            </th>
                        </tr>
                        <tr>
                            <th>Località</th>
                            <td>{{ object.city }} ({{ object.province }}), {{ object.nation }}</td>
                        </tr>
                        <tr>
                            <th>Latitudine</th>
                            <td>{{ object.lat }}</td>
                        </tr>
                        <tr>
                            <th>Longitudine</th>
                            <td>{{ object.lng }}</td>
                        </tr>
                        <tr>
                            <th>Altitudine</th>
                            <td>{{ object.elevation }} m</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <h2><i class="fa fa-home"></i> Ubicazione fisica</h2>
                            </th>
                        </tr>
                        <tr>
                            <th>Altezza dal suolo</th>
                            <td>{{ object.elevation_ground }} m</td>
                        </tr>
                        <tr>
                            <th>Tipologia di installazione</th>
                            <td>{{ object.installation_type }}</td>
                        </tr>
                        <tr>
                            <th>Ubicazione</th>
                            <td>{{ object.installation_position }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <h2><i class="fa fa-cogs"></i> Strumentazione</h2>
                            </th>
                        </tr>
                        <tr>
                            <th>Modello stazione</th>
                            <td>{{ object.station_model }} m</td>
                        </tr>
                        <tr>
                            <th>Modello software</th>
                            <td>{{ object.software_model }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <h2><i class="fa fa-sun-o"></i> Microclima</h2>
                            </th>
                        </tr>
                        <tr>
                            <th>Precipitazione media annua</th>
                            <td>{{ object.mean_year_rain }} mm</td>
                        </tr>
                        <tr>
                            <th>Clima</th>
                            <td>{{ object.climate | safe }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h3><i class="fa fa-map-marker"></i> Mappa</h3>
                    </div>
                    <div id="map" style="width: 100%; height: 200px;"></div>
                </div>
                {% if object.webcam %}
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><i class="fa fa-camera"></i> Webcam</h3>
                        </div>
                        <a href="{{ object.webcam }}" class="lightbox-image">
                            <img class="img-responsive" src={{ object.webcam }} alt="webcam" />
                        </a>
                    </div>
                {% endif %}
                <div class="thumbnail">
                    <div class="caption">
                        <h3><i class="fa fa-cog"></i> Installazione</h3>
                    </div>
                    <img class="img-responsive" src="{{ object.image.url }}" alt="installazione" />
                </div>
            </div>
        </div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCSI-Yv2nyso6vBZqZy75YbAxMnjTotOQ&callback=initMap" async defer></script>
    <script>
        var map,
            initMap = function() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: {{ object.lat }}, lng: {{ object.lng }}},
                    zoom: 8
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ object.lat }}, {{ object.lng }}),
                    map: map
                });
            }
    </script>
</div>
{% endblock %}
