{% load l10n %}
<section>
    <h1 class="hidden">Temperature</h1>
    <div class="rwl-container">
        <div class="rwl-rail">
            {% for station in stations %}
            &#160;<span class="fa fa-star"></span>&#160;
            <i><b>{{ station.name }}</b></i>
            {% if station.weather_icon %}
            <img src="{{ station.weather_icon }}" style="height: 28px; margin-top: -6px;" />
            {% endif %}
            {{ station.temperature|unlocalize }} °C &#8226; <i class="fa fa-angle-up" style="color: red;"></i> {{ station.temperature_max|unlocalize }} °C &#8226; <i class="fa fa-angle-down" style="color: blue;"></i> {{ station.temperature_min|unlocalize }} °C
            {% endfor %}
        </div>
    </div>
    <script>
        (function($) {
            var rail = $('.rwl-rail');
            var new_left = 40 - parseInt(rail.width());
            setTimeout(function() { rail.css('left', new_left); }, 2000);
            setInterval(function() { rail.css('left', new_left); }, 422000);
         })(jQuery)
    </script>
</section>
