// scss-lint:disable ImportantRule
$bg-body-1: #fff;
$bg-body-2: #102b62;
$bg-page: #f8f8f8;

$spinner-color: #aaa;
$spinner-bg: #333;
$spinner-shadow: #fff;

body {
  background-image: url('../img/skyline.png'), linear-gradient(0deg, $bg-body-1, $bg-body-2 60%);
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  left: 0;
  padding-right: 0 !important;
  padding-top: 67px;
  position: relative;
  transition: left .3s linear;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

.page {
  background-color: $bg-page;
  background-image: url('../img/skyline.png'), url('../img/j_bkg.png'), url('../img/html_bkg.jpg');
  background-position: bottom center, top left, 50% top;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: auto, auto, 100% auto;
  // background-position: top left, 50% 50%;
}

// classes
.margin-top {
  margin-top: 40px;
}

.hidden {
  display: none;
}

.video-wrapper {
  height: 0;
  margin: 16px 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;

  iframe {
    height: 100% !important; // scss-lint:disable ImportantRule
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important; // scss-lint:disable ImportantRule
  }
}

// spinner
.spinner {
  animation: spin .8s linear infinite;
  border: solid 10px $spinner-color;
  border-radius: 50%;
  box-sizing: content-box;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;

  &::before {
    background: $spinner-bg;
    border-radius: 50%;
    box-shadow: 2px 0 2px $spinner-shadow;
    content: '';
    display: block;
    height: 10px;
    margin-top: 15px;
    position: absolute;
    top: 12px;
    width: 10px;
  }
}


@keyframes spin{
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(120deg);
  }

  66% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
