// scss-lint:disable SelectorDepth NestingDepth
$bg-navbar: #222;
$toggler-color: #efff00;
$bg-menu-mobile: #fff;
$border-li-color: #eee;
$bg-subvoices: #f7f7f7;
$white: #fff;
$light-gray: #eee;
$link-color: #fb730f;

.navbar-fixed-top {
  background: $bg-navbar;
}

.navbar-toggler {
  color: $toggler-color;
  position: relative;
  top: 9px;
}

.navbar-brand {
  background: $bg-navbar url('../img/logoTM.png') no-repeat center center;
  background-size: 100px;
  border-radius: 0 0 10px 10px;
  box-sizing: content-box;
  color: transparent;
  display: block;
  font-size: 0;
  height: 50px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 152px;
  z-index: 10;

  @include media-breakpoint-up(xl) {
    background-size: auto;
    height: 80px;
    left: 50%;
    margin-left: -76px;
  }
}

.collapsing-navbar {
  background: $bg-menu-mobile;
  font-family: 'Roboto';
  height: 100%;
  line-height: 1.5;
  margin-top: 74px;
  overflow: auto;
  padding-top: 20px;
  position: fixed;
  right: -280px;
  top: 0;
  transition: right .3s linear;
  width: 280px;
  z-index: -1;

  @include media-breakpoint-up(xl) {
    margin-top: 0;
    overflow: visible;
    padding-top: 0;
    position: static;
    width: 100%;
  }

  .menu-container-sx {
    @include media-breakpoint-up(xl) {
      float: left;
    }
  }

  .menu-container-dx {
    @include media-breakpoint-up(xl) {
      float: right;

      > ul {
        display: inline-block;
      }
    }
  }

  .signin-btns {
    display: inline-block;
    margin: 10px 0 0 10px;
    margin-bottom: 94px;
    vertical-align: top;

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid $border-li-color;
    float: none;
    margin-left: 0;
    padding: .5rem 0 .5rem 1rem;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      border-bottom: 0 solid;
      float: left;
      position: relative;
    }

    a {
      @include media-breakpoint-up(xl) {
        color: $white;
      }
    }
  }

  .dropdown-menu {
    border: 0 solid;
    float: none;
    font-size: .9rem;
    position: static;

    @include media-breakpoint-up(xl) {
      border: 1px solid $light-gray;
      border-radius: 0;
      float: left;
      left: 0;
      position: absolute;
      top: 60px;
    }

    .nav-item {
      background: $bg-subvoices;
      border-bottom: 0 solid;
      border-left: 6px solid $border-li-color;
      padding: .5rem;

      @include media-breakpoint-up(xl) {
        background: $white;
        border-left: 0 solid;
        float: none;
        padding: 0 20px;
      }

      a {
        color: $link-color;
        font-weight: 400;
      }
    }
  }

}


.show-menu {
  left: -280px;
  overflow: hidden;
  position: relative;

  .collapsing-navbar {
    display: block;
    opacity: 1;
    right: 0;
    z-index: 1;

    .menu-container {
      left: 0;
    }
  }
}
